*{
  font-family: futura;
  font-size: 15px;
  @media screen and (min-width: 1000px) {
    font-size: 20px;
  }
}
form {
  position: absolute;
  button, input{
   background:#002868;
   color: #fff;
   font-weight: bolder;
   margin: 5%;
   height: 5vh;
   width: 15vw;
   border-radius: 5%;
   text-decoration:none;
   transition:1s ease all;
   &:hover {
     background:lighten(#002868, 20%);
   }
   &:focus {
     background:lighten(#002868, 20%);
   }
   &::placeholder {
     color: #fff;
     font-weight: bolder;
     text-align: center;
   }
  }
}

svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // viewBox: '0 0 1200 1000';
}

.land	{
	fill: #CCCCCC;
	fill-opacity: 1;
	stroke:white;
	stroke-opacity: 1;
	stroke-width:0.5;
}
#about {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

path:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

.popup-show {
    max-width:700px;
    @media screen and (min-width: 1365px) {
      max-width: 1000px;
    }
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:5%;
    background:#002868;
    display: grid;
    grid: 1fr / 50% 50%;
    justify-items: stretch;
    align-items: stretch;
    align-content: center;
    .one-country {
      grid-column:1;
      img {
        max-width: 30%;
        height: auto;
        border: 1px solid black;
        display:block;
        border-radius: 5%;
        margin: 0 auto;
      }
    }
    .one-weather {
      grid-column: 2;
    }
    .one-country, .one-weather {
      // border: 1px solid black;
      padding: 5%;
      border-radius: 5%;
      margin:1%;
      display: grid;
      justify-items:stretch;
      background: lighten(#002868, 50%);
      h1, span {
        color: #002868;
        font-weight: bolder;
      }
      h1{
        animation:colorchange 15s infinite;
        font-size: 2em;
        text-align: center;
      }
      p,h2{
        font-weight: bolder;
        color: #ffffff;
        // font-size: 15px;
      }
    }
}

.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

@keyframes colorchange {
  0% {color: #002868}
  50% {color:#ffffff}
  100% {color: #002868}
  }
